---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Test Deploy" showNav={false}>
  <div class="p-24 text-center">
    <h1 class="text-4xl font-bold">Deploy Verification Successful</h1>
    <p class="mt-4 opacity-50">Current Time: 2026-04-24 14:12</p>
  </div>
</Layout>
